extends layout

block vars
    - var title = 'Menu';
    - var updated = '2/15/17';
    - var jsonList = 'something'

block content
    p I'm At the Burgers PUG
    mixin course(item)
        h2.course-name= item.name
        div.description
            p= item.description
        div.price
            p= item.price
        div.picture
            img(src=item.picture)

    for meal in jsonList
        +course(meal)