extends layout

block vars
    - var title = 'Burgers';
    - var updated = '2/15/17';

block content
    h1 BURGERS
    each meal in foods
        if meal.type == 'burger'
            div.name
                h2.name= meal.name
            div.picture
                img(src= meal.picture)
            div.description
                p2= meal.description
            div.price
                p2= meal.price
