extends layout

block vars
    script(src='./scripts/script.js')

block content
    div Visit our location at:
    div City Creek Center 
        br 
        | 36 South State St., Unit 240 
        br
        | Salt Lake City, UT 84103 
    #map
    
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDLf8wBNjKDn6VBqRpcl3ZKN3M6ywIrBBc&callback=initMap')
    