extends layout

block vars
    script(src='./scripts/script.js')

block content
    #map
    
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDLf8wBNjKDn6VBqRpcl3ZKN3M6ywIrBBc&callback=initMap')
    