extends layout

block vars
    - var title = 'Bur-GRRRRs! - Home'

block deal
    p a SCREAMIN' deal!

block burger
    img(src='./images/burger.png')    

block content
    p4 The new and improved ZOMBURGER - only 5.69 </br>
    p3 it won't cost you an arm and a leg!