doctype html
head 
    script(src='./scripts/script.js')
    link(href='./css/style.css', rel='stylesheet')
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
    block vars
    title #{title}
body
    header
        nav
            ul
                li
                    a(href='index') Home
                    a(href='menu') Menu
                    a(href='directions') Directions
    section
        block content
    footer
        p Copyright &copy; Microsoft Corp 2017