extends layout

block vars
    - var title = 'Bur-GRRRRs! - Menu'
    - var updated = '2/15/17'

block content
    h1 Courses
    table(border=0)
        tr
            td
                a(href='/burgers')
                    img(src="./images/menu_burger.png")
                    | Burgers
            td
                a(href='/sides')
                    img(src="./images/menu_nugget.png")
                    | Sides
            td
                a(href='/desserts')
                    img(src="./images/mouse.png")
                    | Desserts
