extends layout

block vars
    - var title = 'Menu';
    - var updated = '2/15/17';

block content
    h1 SIDES
    each meal in foods
        if meal.type == 'side'
            div.name
                h2.name= meal.name
            div.picture
                img(src meal.picture)
            div.description
                p= meal.description
            div.price
                p= meal.price
